EXPO_PUBLIC_SUPABASE_URL=https://kyfwkcjvrwgnyauxiksr.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt5ZndrY2p2cndnbnlhdXhpa3NyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI5Nzc5NjIsImV4cCI6MjA4ODU1Mzk2Mn0.IFw-bJkHMScQF3LdXKR5fp3ar7VNb8K7BnS8jBU6bKI
